@model MyTVStreamingService.Models.ShowGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Shows" asp-action="Index" method="get">
    <p>
        <select asp-for="ShowGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>

</form>

<form asp-controller="Recommendations" asp-action="Create" method="post">
    <table>
        <tr>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th width="320px">
                                @Html.DisplayNameFor(model => model.Shows[0].Title)
                            </th>
                            <th width="130px">
                                @Html.DisplayNameFor(model => model.Shows[0].ReleaseDate)
                            </th>
                            <th width="201px">
                                @Html.DisplayNameFor(model => model.Shows[0].Genre)
                            </th>
                            <th width="172px">
                                @Html.DisplayNameFor(model => model.Shows[0].NumberOfSeasons)
                            </th>
                            <th width="61px">
                                @Html.DisplayNameFor(model => model.Shows[0].Rating)
                            </th>
                            <th width="201px" height="50px" style="visibility:hidden"></th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display:block; height:280px; width:100%; overflow:auto">
                    <table>
                        <tbody>
                            @foreach (var item in Model.Shows)
                            {
                                <tr style="border-top: 1px solid grey; height: 14px">
                                    <td width="330px" style="padding:15px">
                                        <input type="checkbox" name="rec[]" value="@Html.DisplayFor(modelItem => item.Id)" />
                                        <img src="@Url.Content("~/css/Show_Images/" + @item.Title + ".jpg")" width="50" height="50" />
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td width="130px">
                                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                                    </td>
                                    <td width="205px">
                                        @Html.DisplayFor(modelItem => item.Genre)
                                    </td>
                                    <td width="180px">
                                        @Html.DisplayFor(modelItem => item.NumberOfSeasons)
                                    </td>
                                    <td width="65px">
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td width="205px">
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add to Recommendation" />
</form>